body {
    background-image: url("background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}

.backgroundUnderlay {
    background-image: url("bannerbackground.png");
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.bannerRancid {
    height: 50px;
}

.movieTitle {
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    margin: 20px 0;
}

.mainSect {
    width: 800px;
    min-height: 800px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    border: 4px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    overflow: visible;
}

.leftSect {
    width: 550px;
    align-items: center;
}

.backgroundBigRotten {
    margin: 0;
    padding: 0;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    background-image: url("rottenbackground.png");
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    align-items: center;
}

.bigRotten {
    height: 100%;
    width: auto;
    display: block;
}

.bigPercent {
    font-weight: bold;
    color: red;
    font-size: 48pt;
}

.reviewsTotal {
    color: white;
    position: relative;
    bottom: -20px;
    font-size: 8pt;
}

.criticReviewSect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.firstColumnReview {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 47%;
    box-sizing: border-box;
}

.secondColumnReview {
    box-sizing: border-box;
    width: 47%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.fullReviewSect {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.rectReviewB {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #e1d697;
    border: 2px solid gray;
    padding: 8px;
    width: 100%;
}

.reviewStatus {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.criticStatement {
    font-size: 8pt;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
}

.infoCritic {
    font-size: 8pt;
    margin-top: 5px;
    font-style: italic;
    display: flex;
    align-items: center;
}

.symbolCritic {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.generalOverview {
    background-color: #A2B964;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    float: right;
    width: 250px;
    font-size: 8pt;
    height: 800px;
}
.generalOverview img {
    max-width: 100%;
}

.generalOverview dl {
    margin: 0;
}

.generalOverview dt {
    font-weight: bold;
    margin-top: 8px;
    padding-left: 2px;
}

.generalOverview dd {
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 2px;
}

.reviewPages {
    background-color: #A2B964;
    text-align: center;
    box-sizing: border-box;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 50%;
}

footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}

